<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle trailing slashes
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Bootup the application
    RewriteRule ^index.php - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>